.jumbotron{
  background-image: url(./public/bck_img9\ .1.jfif);
  height: 55vh;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #010067;
}

.detailCard{
  padding: 10px 10px 20px 10px;
  border: 0 solid #BFBFBF;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 1rem #BFBFBF;
}

.resDetail{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:link,:visited,:active,:hover {
  color: black;
  text-decoration: none;
}

.detailCard:hover{
  transform: scale(1.09);
}

.load {
  display: flex;
  justify-content: center;
  position: fixed;
  top:40%;
  left: -2.5%;
  color:#000000;
}

.loadInfinite{
  display: flex;
  justify-content: center;
  position: fixed;
  top:90%;
  left: 50%;
}

Card{
  border-radius: 25px;
}

